{% extends 'base.html' %}

{% block title %}Blog | Login{% endblock %}

{% block body %}
{% if form.errors %}
<p>Your username and password didn't match.  Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page!  Please login with an account that does.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>{{ form.username.label_tag }} {{ form.username }}</p>
    <p>{{ form.password.label_tag }} {{ form.password }}</p>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

{% endblock %}